.stala {
    width: 800px;
    margin: auto;
}

.border1 {
    overflow: auto;
    width: 100%;
    border: 1px solid black;
}

.header1 {
    background-color: teal;
    position: fixed;
    width: 800px;
    
}

.sekcja1 {
    margin: 10px;
    margin-top: 90px;
    padding: 20px;
    width: 330px;
    float: left;
    background-color: lavender;
    border: 1px solid black;
}

.sekcja2 {
    
    margin: 10px;
    margin-top: 90px;
    padding: 20px;
    width: 330px;
    float: left;
    background-color: beige;
    border: 1px solid black;
}

footer {
    position: fixed;
    top: 80%;
    left: 70%;
    height: 50px;
    width: 300px;
    background-color: cyan;
    border: 1px solid black;
    text-align: center;
    padding-top: 30px;
    border-radius: 15px;

}

.p2 {
    position: relative;
    left: 20px;
}

.header2 {
    width: 100%;
    background-color: greenyellow;
    padding: 10px;
    padding-left: 60px;
    font-size: 80px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: -10px;

}




.sekcja3 {
    width: 25%;
    float: left;
    margin-top: 10px;
    
}

.sekcja4 {
    width: 25%;
    float: left;
    margin-top: 10px;
    
}
.sekcja5 {
    width: 25%;
    float: left;
    margin-top: 10px;
    
}
.sekcja6 {
    width: 25%;
    float: left;
    margin-top: 10px;
    
}




.div1 {
    width: 24%;
    float: left;
    margin-top: 10px;
    margin: 4px;

}


.div2 {
    width: 24%;
    float: left;
    margin-top: 10px;
    margin: 4px;

}

.div3 {
    width: 24%;
    float: left;
    margin-top: 10px;
    margin: 4px;

}

.div4 {
    width: 24%;
    float: left;
    margin-top: 10px;
    margin: 4px;

}

.p1 {
    clear: left ;
    margin-bottom: 40px;
    background-color: wheat;
    border: 1px solid black;
    height: 300px;
}

.p3 {
    clear: left ;
    margin-bottom: 40px;
    background-color: bisque;
    border: 1px solid black;
    height: 300px;
}


.p4 {
    clear: left ;
    margin-bottom: 40px;
    background-color: aqua;
    border: 1px solid black;
    height: 300px;
}